.py-select {
  @apply relative;

  label {
    @apply block py-1 text-sm font-normal text-gray-700;
  }

  &__input {
    @apply flex
      cursor-text
      items-center
      gap-2
      px-3
      h-full
      w-full
      border
      border-solid;

    input {
      @apply flex-1
        h-full
        w-full
        border-none
        bg-transparent
        focus:outline-none
        focus:shadow-none;
    }

    &--selected {
      @apply flex-none;
    }

    &--arrow {
      @apply flex-none;
    }
  }

  &__fade {
    @apply
      z-50
      fixed 
      top-0 
      left-0 
      bottom-0 
      right-0 
      bg-gray-900 
      opacity-25
      md:hidden;
  }

  &__options {
    @media screen and (min-width: 768px) {
      top: unset;
      left: unset;
      max-width: unset;

      &.top {
        bottom: calc(100% + .375rem);
      }

      &.bottom {
        top: calc(100% + .375rem);
      }
    }

    @apply 
      z-50
      w-64
      rounded-lg 
      h-0
      overflow-hidden
      bg-white
      shadow-2xl
      fixed
      top-1/2
      left-1/2
      transform
      -translate-y-1/2
      -translate-x-1/2
      md:w-full
      md:transform-none
      md:absolute;

    &.show {
      @apply h-auto;
    }

    ul {
      @apply 
        max-h-96
        py-1 
        overflow-y-auto 
        md:max-h-64;
    }

    &--empty {
      @apply text-gray-500
        cursor-default
        font-normal
        text-base
        leading-5
        px-5
        py-2
        text-center;
    }

    &--option {
      @apply 
        cursor-pointer 
        px-5 
        py-2
        relative 
        text-base
        font-medium
        text-center
        transition-all
        duration-200
        hover:bg-gray-200;

      &.selected {
        @apply hover:bg-transparent cursor-default;
      }

      .overlay {
        @apply 
          absolute 
          top-0 
          left-0 
          bottom-0 
          right-0
          opacity-10;
      }
    }
  }
}